@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

body {
  height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 42px;
  font-weight: 700;
}

h2 {
  font-size: 28px;
  font-weight: 400;
}

h3 {
  font-size: 28px;
  font-weight: 700;
}

p {
  font-size: 18px;
  font-weight: 400;
}

button {
  font-size: 19px;
  font-weight: 700;
}

/* navbar section  */
.navbar {
  height: 100%;
  width: 150px;
  background-color: #212b43;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  z-index: 1;
}

.dot {
  height: 94px;
  width: 94px;
  border-radius: 50%;
  background-color: #303a52;
  display: block;
  margin: 40px 20px 0;
}

.nav-items:hover {
  background-color: #506188;
}

.main {
  margin-left: 150px;
  background-color: #303a52;
}

/* Header section  */

.header {
  display: flex;
  background-color: #303a52;
  padding: 40px 40px 0;
}

.logo {
  height: 94px;
  width: 94px;
  border-radius: 50%;
  background-color: #212b43;
  display: block;
}

.head-content {
  margin: 5px 50px;
  color: #ffffff;
}

.fa-caret-left {
  color: #fc5d94;
  font-size: 94px;
  margin-left: 22px;
}

/* Main sales container  */
.sales-tracker {
  width: 1200px;
  height: 280px;
  margin: 40px;
  background-color: #404e6e;
  border-radius: 30px;
}

.track-head {
  padding: 20px 20px 0;
  color: #ffffff;
}

img {
  padding: 0px 40px 20px;
  width: 90%;
  height: 200px;
}

.fa-long-arrow-alt-down {
  color: #fc5d94;
  font-size: 20px;
  margin-left: 22px;
}

.info-section {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin-left: 40px;
  padding-bottom: 50px;
}

.info-containers {
  width: 330px;
  height: 220px;
  background-color: #404e6e;
  border-radius: 30px;
  color: #ffffff;
  padding: 20px;
}

.info-containers h3 {
  margin-bottom: 20px;
}

.learn-btn {
  margin-top: 20px;
  background-color: #fc5d94;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
}

.learn-btn:hover {
  background-color: #dd5686;
}

.other-info {
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
}

.pink-text {
  color: #fc5d94;
}
